<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="zh-cn"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="zh-cn"><![endif]-->
<!--[if gt IE 9]><!--><html lang="zh-cn"><!--<![endif]-->

<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        本章测验 | 30240184X 课件 | 学堂在线
    </title>

    <script type="text/javascript">
/* immediately break out of an iframe if coming from the marketing website */
(function(window) {
    if (window.location !== window.top.location) {
        window.top.location = window.location;
    }
})(this);
    </script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/download/css/lms-style-vendor.f514c2e00e9f.css" rel="stylesheet" type="text/css" />

    <link href="/static/download/css/lms-style-app.08f27c46f2a5.css" rel="stylesheet" type="text/css" />

    <link href="/static/download/css/lms-style-app-extend1.c3ee2a37871d.css" rel="stylesheet" type="text/css" />

    <link href="/static/download/css/lms-style-app-extend2.c87520471949.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/static/download/js/lms-main_vendor.c1170b9488ac.js" charset="utf-8"></script>

    <script>
window.baseUrl = "/static/";
(function (require) {
    var urlArgs = "v=4cb97e1";
    require.config({
        baseUrl: baseUrl,
        urlArgs: urlArgs
    });
}).call(this, require || RequireJS.require);
    </script>

    <link href="/static/download/css/lms-style-course-vendor.b7ecded0fc78.css" rel="stylesheet" type="text/css" />
    <link href="/static/download/css/lms-style-course.b029d9bf2c18.css" rel="stylesheet" type="text/css" />

    <link href="/static/download/css/jquery.autocomplete.09a0b34739a2.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/ate.css">
    <link href="/static/CSS/style.css" rel="stylesheet" type="text/css">

    <!-- Chat Related -->
    <!-- <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="/static/CSS/ate.css">-->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- End -->

    <link rel="stylesheet" href="/static/download/css/tu-identity.52868ed7ae41.css" />
    <link href="http://s.xuetangx.com/resource/css/googlefonts.css" rel='stylesheet' type='text/css'>
    <!-- dummy segment.io -->
    <script type="text/javascript">
var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
};
    </script>
    <!-- end dummy segment.io -->


    <meta name="path_prefix" content="">

    <!-- dummy segment.io -->
    <script type="text/javascript">
var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
};
    </script>
    <!-- end dummy segment.io -->

</head>

<body id="app" class="ltr courseware  lang_zh-cn">
    <div class="window-wrap" dir="ltr" style="overflow:hidden;position:relative;">
        <a class="nav-skip" href="#seq_content">跳过本内容页</a>

        <div class="xt-header" id="xt-header">
            <div class="xt-header-inner">
                <a class="logo fl" href="/">
                    <img src="/static/images/logo.png" />
                </a>
                <h2 class="course-name">30240184X 数据结构(2015春)</h2>
                <div class="fr">
                    <!--<button type="submit" class="chatboxBtn header_container_search fl"> chatbox</button>-->
                    <button class="chatboxBtn btn btn-box-tool fl" data-toggle="tooltip"><i class="fa fa-comments"></i></button>
                    <form class="header_container_search fl" method="get" action="/courses/search">
                        <input class="fl" id="xt-header-search-input" type="search" name="query" placeholder=" " autocomplete="off" />
                        <button type="submit" class="header_container_submit fl"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper" id="content" style="margin:0">
        <nav class="courseware wrapper-course-material">
            <div class="course-material">
                <ol class="course-tabs">

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware" class="active">
                            课件
                            <span class="sr">, current location</span>
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/info" class="">
                            课程信息
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/discussion/forum" class="">
                            讨论区
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/course_wiki" class="">
                            Wiki
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/progress" class="">
                            课程进度
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/b5f6d8e8357b4713965f75b2494a7ef7/" class="">
                            常见问题
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/pdfbook/0/" class="">
                            教材
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/pdfbook/1/" class="">
                            习题解析
                        </a>
                    </li>

                    <li>
                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/bb8b95e3c75243e7aedde08095c0f225/" class="">
                            日程安排
                        </a>
                    </li>

                </ol>
            </div>
        </nav>

        <div class="container">
            <div class="course-wrapper">

                <div class="course-index" role="navigation">
                    <header id="open_close_accordion">
                        <a href="#">关闭</a>
                    </header>

                    <div id="accordion">
                        <nav aria-label="课程导航">





                            <div class="chapter">

                                <h3  aria-label="第零章">
                                    <a href="#">
                                        第零章
                                    </a>
                                </h3>

                                <ul>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/53f8a6d435084015ab919439d7f5f59a/">
                                            <p>选课之前 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/c36d5357c9844ff292e2eef1a5dcbfc0/">
                                            <p>考核方式 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/245992e9f6e64cd3bb316ce864a5bc72/">
                                            <p>OJ系统说明 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/31b9b906c4d543e5a52e0e95a05fa465/">
                                            <p>关于课程教材与讲义 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/d51d87c4b77b4a02b17a6d331aa338b7/">
                                            <p>关于讨论区 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/cca6bc36305c4eeda2d59f8220f3d7ec/">
                                            <p>微信平台 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/1a540aa60a3b44c69ebcbe8b3245cd37/">
                                            <p>PA讨论 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/b8013a2ea90a4174989bc758330c9422/873ee8517c69487ea9b1aed2588212d7/">
                                            <p>PA晋级申请 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <div class="chapter">

                                <h3  aria-label="第一章 绪论">
                                    <a href="#">
                                        第一章 绪论
                                    </a>
                                </h3>

                                <ul>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/5ec3aeb4c7d74bf687b0b864befd42a9/">
                                            <p>（a）计算 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/b712b0a3477f4e7ea99d05223c23ce4b/">
                                            <p>（b）计算模型 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/dcf6afe77a434223a34a2e57f49802e8/">
                                            <p>（c）大O记号 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/c07c0714ac024ade9d430f1779c6a459/">
                                            <p>（d）算法分析 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/e794869faa9844528206ba3e9ab6b640/">
                                            <p>（e）迭代与递归 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/5d5870b4ca7e42ccb7a10bf444055f6d/">
                                            <p>（xc）动态规划 </p>

                                            <p class="subtitle"> </p>

                                        </a>
                                    </li>
                                    <li class=" graded">
                                        <a href="/courses/TsinghuaX/30240184_2015X/2015_T1/courseware/a8c755dbb15b4bce9165d4df80f6485a/d51f1198b88243c2852c2e842d0ed950/">
                                            <p>本章测验 </p>

                                            <p class="subtitle">测验题 到期日2015-04-08 07:59:00</p>

                                            <img src="/static/images/graded.png" alt="Graded Section">
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </nav>
                    </div>
                </div>

                <section class="course-content" id="course-content">
                    <div class="xblock xblock-student_view xmodule_display xmodule_SequenceModule" data-runtime-class="LmsRuntime" data-init="XBlockToXModuleShim" data-block-type="sequential" data-request-token="b63ce46674c911e6a28100163e000130" data-runtime-version="1" data-usage-id="i4x:;_;_TsinghuaX;_30240184_2015X;_sequential;_aed248c5c132441ababbd199534481e8" data-type="Sequence" data-course-id="TsinghuaX/30240184_2015X/2015_T1">


                        <div id="sequence_i4x-TsinghuaX-30240184_2015X-sequential-aed248c5c132441ababbd199534481e8" class="sequence" data-id="i4x://TsinghuaX/30240184_2015X/sequential/aed248c5c132441ababbd199534481e8" data-position="2" data-ajax-url="/courses/TsinghuaX/30240184_2015X/2015_T1/xblock/i4x:;_;_TsinghuaX;_30240184_2015X;_sequential;_aed248c5c132441ababbd199534481e8/handler/xmodule_handler" >

                            <div id="seq_content" role="tabpanel">
                                <img src="/static/images/datastructure.jpg"></img>
                            </div>

                        </div>




                    </div>

                </section>
            </div>
        </div>



        <div id="chatbox">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">正在查询：{{ temp_question.substr(0, 8).concat('...') }}</h3>
                    <div class="box-tools pull-right">
                        <a class="btn btn-box-tool" :class="{active:activeTabIndex==0}" @click="activeTabIndex=0"><i class="fa fa-pencil-square-o">作业</i></a>
                        <a class="btn btn-box-tool" :class="{active:activeTabIndex==1}" @click="activeTabIndex=1"><i class="fa fa-comment-o">论坛</i></a>
                        <a class="btn btn-box-tool" :class="{active:activeTabIndex==2}" @click="activeTabIndex=2"><i class="fa fa-cubes">综合</i></a>
                        <a class="btn btn-box-tool" :class="{active:activeTabIndex==3}" @click="activeTabIndex=3"><i class="fa fa-user-secret">AI-BOT</i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="direct-chat-messages" style="height:500px">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg {{ item.class }}" v-for="item in items" track-by="$index" v-if="activeTabIndex==item.index">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left" v-if="item.uid==0">{{ item.name }}</span>
                                <span class="direct-chat-name pull-right" v-if="item.uid==1">{{ item.name }}</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="/static/images/customer-service.jpg" v-if="item.uid==0 && item.index!=0" alt="message user image">
                            <img class="direct-chat-img" src="/static/images/question.png" v-if="item.uid==0 && item.index==0" alt="message user image">
                            <img class="direct-chat-img" src="/static/images/boy.jpg" v-if="item.uid==1" alt="message user image">
                            <div class="direct-chat-text" style="word-break:break-all;">
                                <div v-if="item.class.search('left forum')!=-1" v-for="message in item.message" track-by="$index" >
                                    <div v-if="$index+1 == item.message.length" v-show="!item.fold">
                                        {{ message }}<br>
                                    </div>
                                    <div v-if="$index+1 != item.message.length" :class="folder($index, item)" @click="getFolder(this, item)">
                                        {{ message }}<br>
                                    </div>
                                </div>
                                <div v-if="item.class.search('left forum')==-1" v-for="message in item.message" track-by="$index">{{ message }}<br></div>
                            </div>
                        </div><!-- /.direct-chat-msg -->
                    </div><!--/.direct-chat-messages-->


                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" name="question" class="form-control" v-model="question" @keyup.enter="getAnswer">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat" @click="getAnswer" >Send</button>
                        </span>
                    </div>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div>
        <script type="text/javascript">
$(".chatboxBtn").click(function(){
    var right = $("#chatbox").css("right");
    right = parseInt(right);
    if(right < 0) {
        $("#chatbox").animate({ right : 0},{duration:'fast'});
    }else{
        $("#chatbox").animate({ right :-503},{duration:'fast'});
    }
});
        </script>

        <nav class="nav-utilities ">
            <h2 class="sr nav-utilities-title">课程工具引导</h2>
        </nav>
        <footer id="footer_bootstrap">
            <div class="copyright wrap">
                <div class="cf">
                    <div class="text fl">
                        <p>Copyright  2013-2016 北京慕华信息科技有限公司</p>
                        <p><a href="http://www.miibeian.gov.cn/" title="京ICP证140571号" target="_blank">京ICP证140571号</a> | 京公网安备 11010802017721</p>
                    </div>
                    <div class="edx_logo cf fr">
                        <a href="http://openedx.org" target="_blank"><img src="http://www.xuetangx.com/static/images/edx_logo.png"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="/static/download/js/fixedsidebar.74e0b3d9bd56.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.scrollTo-1.4.2-min.4aa3e2dfa312.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.flot.d3d45ff0c6a8.js"></script>
<script type="text/javascript" src="/static/download/js/codemirror-compressed.dd4b74f7c5fe.js"></script>
<script type="text/javascript" src="/static/download/js/lms-courseware.45ce328973cd.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/download/js/discussion.eecb75d6f6d6.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/download/js/require-config-lms.da42d4d4e28b.js"></script>
<script type="text/javascript" src="/static/download/js/split.1e256a271150.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.truncate.b81308a54759.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.ajaxfileupload.27e7569a4c1e.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.autocomplete.3bd10d7510d2.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.timeago.9605aaf0437d.js"></script>
<script type="text/javascript" src="/static/download/js/mustache.2aa68bb79181.js"></script>
<script type="text/javascript" src="/static/download/js/URI.min.03b89112e46e.js"></script>
<script type="text/javascript" src="/static/download/js/backbone-min.752b6162850f.js"></script>
<script type="text/javascript" src="/static/download/js/tooltip_manager.0df6414b1730.js"></script>
<script type="text/javascript" src="/static/download/js/jquery.min.397754ba49e9.js"></script>
<script type="text/javascript" src="/static/download/js/user_track_norequire.0cd1b51c0ca4.js"></script>

<script src="https://cdn.jsdelivr.net/vue/1.0.27/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="static/JS/index.js"></script>
</html>
