/*
 * Base structure
 */

body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

/*
 * Sidebar
 */

/* Hide for mobile, show later */


/* Sidebar navigation */


/*
 * Main content
 */

.main {
  padding: 20px;
}

.direct-chat-messages{
    min-height: 600px;
}

.expand-transition {
    transition: all .3s ease;
    padding: 10px;
    overflow: hidden;
}

.expand-enter, .expand-leave {
    height: 0;
    padding: 0 30px;
    opacity: 0;
}

